<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8" />
        <title>Profile</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="../css/style.css" th:href="@{css/style.css}"/>

    </head>
    <body>
        <div th:replace="fragments/layout :: header(title='Profile')"></div>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <!--Names-->
                    <span th:text="${nickname}" style="font-size: 25px;"><b>nickname</b></span> 
                    <span th:text="'@' + ${username}" style="color: gray">username</span>  &nbsp;  
                    
                    <!--Follow-->
                    <div th:if="${logged && !sameUser && !followers.contains(looker)}" style="display: inline;">
                        <form th:action="@{/follow/{username}(username=${username})}" method="POST" style="display: inline;">
                            <button type="submit" class="btn btn-primary">Follow</button>
                        </form>
                    </div>
                    
                    <!--Unfollow-->
                    <div th:if="${logged && !sameUser && followers.contains(looker)}" style="display: inline;">
                        <form th:action="@{/unfollow/{username}(username=${username})}" method="POST" style="display: inline;">
                            <button type="submit" class="btn btn-primary" style="background-color: red">Unfollow</button>
                        </form>
                    </div>
                    
                    <!--ProfileImage-->
                    <div th:if="${profileImage != null}"
                         style="width: 200px; height: 200px; border-radius: 50%;
                         overflow: hidden;">
                        <img th:src="@{/images/{id}/content(id=${profileImage.getId()})}"
                             style="object-fit: cover; width: 100%; height: 100%"/>
                    </div>
                    <br/>
                    
                    <!--Change ProfileImage-->
                    <div th:if="${profileImage != null && sameUser}">
                        <form th:action="@{/changeProfileImage}" method="POST">
                            <div class="form-group">
                                <label for="profileImages">Change profile image:</label>
                                <select name="profileImageId" class="form-control">
                                    <option th:text="${profileImage.name}" th:value="${profileImage.id}"></option>
                                    <option th:each="image : ${allProfileImages}"
                                            th:text="${image.name}" th:value="${image.id}"></option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Change</button>
                        </form>
                    </div>
                    
                    <!--Add new profileImage-->
                    <div th:if="${sameUser}">
                        <form th:action="@{/addFile}" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="file">Add new profile image:</label>
                                <input type="file" name="file" id="file" class="form-control"/><br/>
                                <input type="hidden" name="type" value="profileImage"/>
                                <input type="hidden" name="description" value=" "/>
                                <button type="submit" class="btn btn-primary">Add</button>
                            </div>
                        </form>
                    </div>
                    <br/>
                    
                    Following:
                    <div class="scrollWindow form-control">
                        <div th:if="${following.size() == 0}">
                            Zero followed.
                        </div>
                        <div th:each="f : ${following}">
                            <a th:href="@{/profile/{name}(name=${f.username})}" th:text="${f.nickname}">nimi</a>
                        </div>
                    </div>
                    <br/>
                    
                    Followers:
                    <div class="scrollWindow form-control">
                        <div th:if="${followers.size() == 0}">
                            Zero followed.
                        </div>
                        <div th:each="f : ${followers}">
                            <a th:href="@{/profile/{name}(name=${f.username})}" th:text="${f.nickname}">nimi</a>
                        </div>
                    </div>
                </div>
                
                
                <div class="col-8">
                    oikea
                </div>
            </div>
        </div>
    </body>
</html>
