<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8" />
        <title>Profile</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" th:href="@{/css/style.css}"/>

    </head>
    <body>
        <div th:replace="fragments/layout :: header"></div>
        
        <div class="container" style="margin-top: 15px">
            <h1>Profile</h1>
            <div class="row">
                <div class="col-4">
                    <!--Names-->
                    <b th:text="${nickname}" style="font-size: 25px">nickname</b>
                    <span th:text="'@' + ${username}" style="color: gray">username</span>  &nbsp;

                    <!--Change Nickname-->
                    <div th:if="${logged && sameUser}">
                        <form th:action="@{/changeNickname}" method="POST" style="display: inline;">
                            <input class="form-control input-sml" placeholder="Enter new nickname" type="text" name="newNickname" style="display: inline; width: 140px">
                                <button type="submit" class="btn btn-sm input-sml" style="width: 50px;background-color: blue; display: inline; color: white;">Submit</button>
                        </form>
                    </div>

                    <!--Follow-->
                    <div th:if="${logged && !sameUser && !followers.contains(looker)}">
                        <form th:action="@{/follow/{username}(username=${username})}" method="POST">
                            <button type="submit" class="btn btn-sm"style="width: 50%; background-color: blue;
                                    color: white;">Follow</button>
                        </form>
                    </div>

                    <!--Unfollow-->
                    <div th:if="${logged && !sameUser && followers.contains(looker)}">
                        <form th:action="@{/unfollow/{username}(username=${username})}" method="POST">
                            <button type="submit" class="btn btn-sm txt-center" style="background-color: red; width: 50%;
                                    color: white;">Unfollow</button>
                        </form>
                    </div>

                    <br/>

                    <!--ProfileImage-->
                    <div th:if="${profileImage != null}"
                         style="width: 200px; height: 200px; border-radius: 50%;
                         overflow: hidden;">
                        <img th:src="@{/images/{id}/content(id=${profileImage.getId()})}" alt="profileImage"
                             style="object-fit: cover; width: 100%; height: 100%"/>
                    </div>
                    <div th:if="${profileImage == null}"
                         style="width: 200px; height: 200px; border-radius: 50%;
                         overflow: hidden;">
                        <img th:src="@{/images/avatar.jpg}" alt="profileImage"
                             style="object-fit: cover; width: 100%; height: 100%"/>
                    </div>
                    <br/>

                    <!--Add new image-->
                    <div th:if="${sameUser}">
                        <form th:action="@{/addFile}" method="POST" enctype="multipart/form-data" onsubmit="return checkAddImageForm(this)">
                            <div class="form-group">
                                <label for="file"><b>Add new image:</b></label>
                                <input type="file" name="file" id="file"/><br/>
                                <div style="color: grey; font-size: 12px;">(.jpg, .jpeg, .png) (.gif only for album)</div>
                                <div><input type="checkbox" name="imageTo" value="profile"/> add as profile picture</div>
                                Description:
                                <textarea name="description" row="3" cols="25" class="form-control" id="description" style="max-width: 200px"></textarea>
                                <div><button type="submit" class="btn btn-sm"
                                             style="background-color: blue; color: white;">Add</button></div>
                            </div>
                        </form>
                    </div>
                    <br/>

                    Following:
                    <div class="scrollWindow form-control">
                        <div th:if="${following.size() == 0}">
                            Zero followed.
                        </div>
                        <div th:each="f : ${following}">
                            <a th:href="@{/profile/{name}/1(name=${f.username})}" th:text="${f.nickname}">nimi</a>
                        </div>
                    </div>
                    <br/>

                    Followers:
                    <div class="scrollWindow form-control">
                        <div th:if="${followers.size() == 0}">
                            Zero followed.
                        </div>
                        <div th:each="f : ${followers}">
                            <a th:href="@{/profile/{name}/1(name=${f.username})}" th:text="${f.nickname}">nimi</a>
                        </div>
                    </div>
                </div>


                <div class="col-8">
                    <h3>Images:</h3>
                    <div>
                        <div th:if="${images.size() > 0}" th:each="i: ${#numbers.sequence(0, images.size()-1)}" class='inline1'>
                            <div style="width: 150px; height: 150px; margin: 5px">
                                <img th:src="@{/images/{id}/content(id=${images.get(i).id})}" alt="Image: {name}(name=${images.get(i).name})"
                                     style="object-fit: cover; width: 100%; height: 100%"/>
                            </div>
                        </div>
                        <div th:unless="${images.size() > 0}">
                            <p style="color:grey;">No images.</p>
                        </div>
                    </div>
                    <br/>
                    
                    <h3>Messages:</h3>
                    <div>
                        <div th:each="message : ${messages}">
                            <span th:text="${message.sender.nickname}">name</span><br/>
                            <span th:text="${message.text}">message</span><br/>
                            <span th:text="${message.dateInString}">dateTime</span><br/>
                            <br/>
                        </div>
                    </div>
                    <!--Page buttons-->
                    <div th:if="${pageCount > 1}">
                        <form th:action="@{/goToPageInProfile}" method="POST">
                            <input type="hidden" name="username" th:value="${username}"/>
                            <span th:if="${pageCount > 5}">
                                <input th:if="${current > 1}" class="page_btn" type="submit" name="page" value="previous"/>
                                <span th:if="${3 >= current}">
                                    <span th:each="i: ${#numbers.sequence(1, 5)}">
                                        <input th:if="${i == current}" class="page_btn_activated" type="submit" name="page" th:value="${i}"/>
                                        <input th:unless="${i == current}" class="page_btn" type="submit" name="page" th:value="${i}"/>
                                    </span>
                                </span>
                                <span th:if="${current > 3}">
                                    <input class="page_btn" type="submit" name="page" value="1"/> ...
                                </span>
                                <span th:if="current >= pageCount-2">
                                    <span th:each="i: ${#numbers.sequence(pageCount-4, pageCount)}">
                                        <input th:if="${i == current}" class="page_btn_activated" type="submit" name="page" th:value="${i}"/>
                                        <input th:unless="${i == current}" class="page_btn" type="submit" name="page" th:value="${i}"/>
                                    </span>
                                </span>
                                <span th:if="${current > 3}">
                                    <span th:each="i: ${#numbers.sequence(current-2, current+2)}">
                                        <input th:if="${i == current}" class="page_btn_activated" type="submit" name="page" th:value="${i}"/>
                                        <input th:unless="${i == current}" class="page_btn" type="submit" name="page" th:value="${i}"/>
                                    </span>
                                </span>
                                <span th:if="${pageCount-3 >= current}">
                                    ... <input class="page_btn" type="submit" name="page" th:value="${pageCount}"/>
                                </span>
                            </span>
                            <span th:unless="${pageCount > 5}">
                                <input th:if="${current > 1}" class="page_btn" type="submit" name="page" th:value="previous"/>
                                <span th:each="i: ${#numbers.sequence(1, pageCount)}">
                                    <input th:if="${i == current}" class="page_btn_activated" type="submit" name="page" th:value="${i}"/>
                                    <input th:unless="${i == current}" class="page_btn" type="submit" name="page" th:value="${i}"/>
                                </span>
                                <input th:if="${pageCount > current}" class="page_btn" type="submit" name="page" value="next"/>
                            </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script>
        var description = document.getElementById("description");

        function checkAddImageForm(form) {
            var uploadBox = document.getElementById("file");
            if (file.value != "") {
                console.log(trim(description.value));
                if (trim(description.value) == "") {
                    alert("Write description!");
                    return false;
                }
                return true;
            } else {
                alert("Choose the file first!");
                return false;
            }
        }
        function trim(s) {
            return s.replace(/^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g, '');
        }
    </script>
</html>
